body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: cursive;
    background-color: #5344ab;
}

.calendar-container{
    background-color: rgb(255, 255, 255);
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.month-name{
    margin: 0;
    background-color: orange;
    color: #fff;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}
.day-name{
    color: darkgray;
    font-size: 20px;
}
.day-number{
    font-size: 80px;
    margin: 0;
    font-weight: bold;
}
.year{
    margin: 20px 0;
    font-size: 24px;
    color: darkgray;
    font-weight: 500;
}